*{
	margin: 20px 20px ;
}

#control{
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -125px;
	margin-left: -125px;
	border-radius: 250px;
	width: 250px;
	height: 250px;
	background: linear-gradient(135deg,#fff,#ccc,#999,#666);
	box-shadow:inset -2px -2px 2px 1px rgba(20%,20%,40%,0.5),inset 2px 2px 2px 1px rgba(20%,20%,40%,0.3), 0 3px 2px 1px rgba(100%,100%,100%,0.9); 
}
#outer{
	position: relative;
	margin: 0 auto;
	border-radius: 300px;
	width: 300px;
	height: 300px;
	background: linear-gradient(135deg,#fff,#e8e8e8,#b8b8b8);
	box-shadow: 0 1px 2px 1px rgba(20%,20%,40%,0.5),inset 0 3px 2px 1px rgba(100%,100%,100%,0.9); 
}
#up{
	position: absolute;
	left: 50%;
	margin-left:-20px; 
	top:0;
	width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-bottom: 20px solid #c33;
}
#down{
	position: absolute;
	left: 50%;
	margin-left:-20px; 
	bottom: 0;
	width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid #c33;
}
#left{
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -20px;
	width: 0;
	height: 0;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	border-right: 20px solid #c33;
}
#right{
	position: absolute;
	right: 0;
	top: 50%;
	margin-top: -20px;
	width: 0;
	height: 0;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	border-left: 20px solid #c33;
}
#Gravity{
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -50px;
	margin-left: -50px;
	background: linear-gradient(135deg,#fff,#e8e8e8,#b8b8b8);
	width: 100px;
	height: 100px; 
	border-radius: 50px;
	box-shadow: 0 2px 2px 1px rgba(20%,20%,40%,0.5),inset 15px 15px 2px 2px rgba(100%,100%,100%,0.5),inset 0 2px 0px 2px rgba(100%,100%,100%,0.9); 
}

span:active{
	-webkit-filter: invert(100%);
}

#Gravity:active{
	-webkit-filter: invert(25%);
}

.Gon{
	-webkit-animation: Gon 1.2s infinite;
    -webkit-animation-fill-mode: both;
}

@-webkit-keyframes Gon{
	0%,100%{
		background: linear-gradient(135deg,#fff,#e8e8e8,#b8b8b8);
	}
	10%,90%{
		background: linear-gradient(135deg,#fff,#e6c1c1,#b8b8b8);
	}
	20%,80%{
		background: linear-gradient(135deg,#fff,#e69797,#b8b8b8);
	}
	30%,70%{
		background: linear-gradient(135deg,#fff,#e66767,#b8b8b8);
	}
	40%,60%{
		background: linear-gradient(135deg,#fff,#e53636,#b8b8b8);
	}
	50%{
		background: linear-gradient(135deg,#fff,#e50000,#b8b8b8);
	}



}
