@import url(http://fonts.googleapis.com/css?family=Dosis);
*{
	font-family: 'Dosis', sans-serif;
}
body{
	margin: 0 0 ;
	overflow: hidden;
}

/*令圖片隨螢幕長寬自動縮放*/
img{
	height: auto;
    max-width: 100%;
}


/*------------- bottom_panel -------------*/
#chatfield{
	display: inline-block;
	margin: 0px 0px;
	float: left;
	width: 40%;
	height: 20%;
	overflow-y:auto;
	overflow-x:hidden; 
}
#notefield{
	margin: 0px 0px;
	float: left;
	width: 40%;
	height: 20%;
}
#note{
	color: #333;
	background-color: #fff; 
	background-image: linear-gradient(90deg, transparent 79px, #FF9999 79px, #FF9999 81px, transparent 81px),linear-gradient(#FFCCCC .1em, transparent .1em);
	background-size: 100% 1.2em;
	width: 100%;
	height: 100%;
}
#inputfield{
	margin: 0px 0px;
	float: left;
	width: 20%;
	height: 20%;
}
/*------------- bottom_panel end -------------*/



/*------------- canvas setting & tools -------------*/
#canvas{
	z-index: 5;
	position: absolute;
}
#slide_field{
	width: 100%;
	height: 80%;
	border:0px;
}
#marker{
	z-index: 10;
	position: absolute;
	left: 0;
}
#cursors{
	z-index: 10;
	display: none;
	position: absolute;
	left: 0;
}
#clear{
	z-index: 10;
	position: absolute;
	right: 0;
}
#eraser{
	z-index: 10;
	position: absolute;
	right: 0;
}

#addtext{
	z-index: 10;
	position: absolute;
	right: 0;
}
/*------------- canvas setting & tools end -------------*/

#notefield:hover .tag{
	display: inline-block;
}
#chatfield:hover .tag{
	display: inline-block;
}
.tag{
	position: absolute;
	width: 100px;
	height: 50px;
	text-align: center;
	color: #fff;
	border-radius: 50px 50px 0 0;
	background: #a67f48;
	margin-top: -49px;
	display: none;
}

.bubble {
  text-align: right;
  float: right;
  clear: both;
}

.bubbleAlt {
  text-align: left;
  float: left;
  clear: both;
}
.bubble {
  position: relative;
  padding: 3px;
  /* css3 */
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 3px;
  box-shadow: -1px 3px 2px 0 rgba(51, 51, 102, 0.3);
  color: #FFF;
  margin: 3px 10px 3px 10px;
  background: #44b7fa;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.bubbleAlt {
  position: relative;
  padding: 3px;
  /* css3 */
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 3px;
  box-shadow: 1px 3px 2px 0 rgba(51, 51, 102, 0.3);
  color: #fff;
  margin: 5px auto;
  margin-right: 30px;
  margin-left: 20px;
  background: #00cc33;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

.bubble:before {
  z-index: -1;
  content: '';
  position: absolute;
  top: 33%;
  right: -20px;
  width: 10px;
  height: 0px;
  border-width:5px;
  border-style:solid;
  border-color:transparent transparent transparent #44b7fa;
}

.bubbleAlt:before {
  z-index: -1;
  content: '';
  position: absolute;
  top: 33%;
  left: -20px;
  width: 10px;
  height: 0px;
  border-width:5px;
  border-style:solid;
  border-color:transparent #00cc33 transparent transparent ;
}



/* Media Query ，也就是當寬度 < 768 px 時將載入下面這段 CSS :*/
@media only screen and (max-width: 768px) {
	*{
	}
}
/*Media Query ，也就是當寬度 < 320 px 時將載入下面這段 CSS :*/
 @media only screen and (max-width: 480px) {
	#chatfield,#notefield{
		margin: 0px 0px;
		display: block;
		width: 100%;
		height: 25%;
	}
	#inputfield{
		margin: 0px 0px;
		float: left;
		width: 100%;
		height: 25%;
		background: #ccc;
	}
	#input{
		font-size: 15pt;
		width: 100%;
		height: 100%;
	}
}